* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(96,99,115);
  height: 100%;
  background-color: rgb(240,239,234);
  display: flex;
  align-items: center;
  font-family: 'Noto Sans TC', sans-serif;
  ul li {
    list-style-type: none;
  }
}

.container {
  width: 85%;
  // padding: 2rem 3rem;
  max-width: 450px;
  margin:4rem auto;
  text-align: center;
  background-color: #fff;
  border-radius: 0.25rem;
  header {
  	padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .date {
      font-size: 3rem;
      font-weight: 900;
    }
    .day {
      font-weight: 500;
    }
  }
  header .date-month-year-container {
    display: flex;
    align-items: center;
  }
  header .month_year {
    margin-left: 0.5rem;
    h3 {
      font-size: 1rem;
    }
    .month {
      font-weight: 900;
    }
    .year {
      font-weight: 400;
    }
  }
  ul li {
    display: flex;
    // margin: 1px 0 0;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid black;
    // border-top: 0.5px solid #9b9b9b;
    // border-bottom: 0.5px solid #9b9b9b;
    padding: 1rem 3rem;
    transition: opacity 0.5s;
    position: relative;
    &:hover {
      box-shadow: 0 0 5px #9b9b9b;
    }
    // &:last-child {
    // border-bottom: 0.5px solid #9b9b9b;
    // }
  }
  .input-container {
    // flex: 0.5 0.5 auto;
  }
  .content-btns-container {
  	flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .content-btns-container .content {
  	flex: 1;
    display: flex;
    justify-content: center;
  }
  .content-btns-container .content span {
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
  }
  ul li p {
    flex: 100 100 auto;
    position: relative;
  }
  ul li input {
    position: relative;
    cursor: pointer;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    &:after {
      content: "";
      position: absolute;
      background-color: #fff;
      border: 0.5px solid #9b9b9b;
      width: 29px;
      height: 29px;
    }
    &:checked:after {
      content: "✔︎";
      color: #fff;
      background-color: rgb(80,227,164);
      position: absolute;
      display: flex;
      justify-content: center;
      border: none;
      align-items: center;
      width: 29px;
      height: 29px;
    }
  }
  .btn-group button {
    background-color: transparent;
    margin: 0 0 0 0.5rem;
    padding: 0 0 0.5rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid black;
    }
  }
  form {
    // display: flex;
    // flex-wrap: wrap;
    margin: 3rem 0;
    padding: 0 3rem;
  }
  form label {
    display: block;
    width: 100%;
    text-align: start;
    margin: 0 0 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
  form .add-container {
    display: flex;
  }
  form .add-container input{
    flex: 1;
    margin: 0 0.5rem 0 0; 
    padding: 0 1rem;
    font-size: 1.2rem;
    height: 3rem;
    border: 1px solid #9b9b9b;
    outline: none;
    border-radius: 0.25rem;
  }
  form .add-container button {
    flex: 1;
    background-color: rgb(80,227,164);
    border: none;
    font-size: 2rem;
    color: rgb(70,190,140);
    border-radius: 0.25rem;
    cursor: pointer;
  }
  .alert-message {
    display: block;
    text-align: start;
    margin: 0.1rem;
    font-size: 1rem;
    color: red;
    font-style: italic;
    font-weight: 500;
  }
}

.is-done {
  opacity: 0.4;
  	.content span {
  	  &:before {
      content:"";
      background-color: black;
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0.5px;
      z-index: 999;
      // animation: strikeitem 0.5s ease-out 0s forwards;
      }
   }
  }
// .is-already-done {
//   opacity: 0.6;
//   p {
//   	&:before {
//       content:"";
//       background-color: black;
//       position: absolute;
//       display: block;
//       top: 50%;
//       left: 0;
//       width: 50%;
//       height: 0.5px;
//     }
//   }
// }


// @keyframes strikeitem {
//   to {
//   	width: 100%;
//   }
// }
